@import "./skins/default.css";

body {
    background-color: #fff;
    background-image: url('../../media/nds-tile-square.png');
    background-repeat: repeat;
}

.page-image img {
    width: auto !important;
    max-height: 75vh !important;
}
